NODE_ENV=
JWT_SECRET=
APP_URL=
API_URL=
DATABASE_URL=
OPENAI_API_KEY=
GCS_PROJECT_ID=
GCS_BUCKET_NAME=
GCS_FOLDER_NAME=
GCS_PUBLIC_BASE_URL=
GCS_CREDENTIALS_JSON_BASE64=
PINECONE_API_KEY=
PINECONE_INDEX=
APIFY_TOKEN=